/* This script wrote with Alireza Azizi */
#editor{
    width: auto;
    height: auto;
    background-color: #f3f3f3;
    direction: ltr;
}
#editor button{
    padding: 0;
    border: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    outline: none;
}
/* editor input */
#user-input{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 40px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    border: 1px solid #646464;
    z-index: 0;
    background: white;
}
#user-input-title{
    width: 100%;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 32px;
}
#main-user-input{
    width: 100%;
    height: 150px;
    float: right;
}
/* button and input setting */

#user-input button {
    margin-top: 20px;
    margin-right: 20px;
}

#editor-client-input{
    margin-top: 10px;
    width: 98%;
    height: 25px;
    outline: none;
}
#save-client-value{
    width: 70px;
    height: 25px;
    padding: 0;
    border: 0;
    background: #16aeff;
    color: #ffffff;
}
#cancel-client-value{
    width: 70px;
    height: 25px;
    padding: 0;
    border: 0;
    background: #ff3622;
    color: #ffffff;
}
